html,
body {
    overflow:hidden;
    background: #AADDFF;
    height:100%
}

.hidden {
    display:none;
}

.shown {
    display:block;
}

.recipe-tile {
    background: #BBDDEE;
    border: 1px;
    border-color: #AAAAAA;
}
