.hidden {
    display:none;
}

.left-button {
    background-image: url(/static/chevron-left.svg);
    background-repeat: no-repeat;
}

.right-button {
    background-image: url(/static/chevron-right.svg);
    background-repeat: no-repeat;
}

.shown {
    display:block;
}
.plus-button {
    background-image: url(/static/plus-circle.svg);
}

.selected {
    position: absolute;
    top: 10pt;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    float: initial;
    overflow: scroll;
    z-index: 100;
}

.de-selector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}


.unselected {
    overflow: hidden;
    height: 220pt;
}

.close-button {
    background-image: url(/static/x-circle.svg);
}

.recipe-tile {
    background: #FAFAFF;
    border: 1pt;
    border-color: #DADADF;
    border-style: solid;
    margin: 4pt;
    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.1);
    border-radius: 4px;
}

.recipe-title {
    background: #EAEAE0;
    border-bottom: solid;
    border-color: #C0C0C0;
    border-width: 1pt;
    min-height: 20pt;
    padding: 3pt;
    padding-left: 5pt;
    margin: 0pt;
}

.recipe-body{
    padding: 10pt;
    margin: 0pt;
}

.recipe-ingredients {
    padding: 20pt;
}

.recipe-description {
    padding: 20pt;
}
