[db]
db_host = "localhost"
db_port = 5432
user = "r_ecipe_s_user"
database = "r_ecipe_s"
password = ""
max_connections = 5

[http]
port = 8000
host = "127.0.0.1"

[model]
model_path = "minilm/data/minilm.safetensors"
